body {
  background-color:#0A1415;
  overflow-x: hidden;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.fotobody{
  right: 0%;
  position: absolute;
  z-index: -1;
}

.fotobody img {
  width: 100%;
  opacity: 0.7;
}

.aziende{
  margin-top: 20px;
}

.portfolio .homeport .card .play-button {
  width: 50px;
  height: 50px;
  background-color: #FF784F;
  border: none;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.portfolio .homeport .card .play-button:hover {
  color: #FF784F;
  background-color: #ffffff;
  transition: 0.3s;
}

.portfolio .homeport .card .fa-play {
  margin-left: 2px;
  font-size: 18px;
}

.portfolio .homeport .card button  {
  position: absolute;
  top: 10px;
  right: 10px;
}

.portfolio .homeport .card button  {
  transform: translateX(30px);                      
  opacity: 0;
  transition: all 0.3s ease-out 0.3s;
}

.portfolio .homeport .card:hover button  {
  opacity: 1;
  transform: translateY(0px);
}

.portfolio .homeport .card {
  transition: opacity 0.3s ease;
}

.fa-play {
  font-size: 40px;
}

/* HEADER */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
header nav {
  max-width: 70%;
  margin: auto;
  margin-top: 40px;
}

header nav ul  {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li {
  padding: 15px 0px;
  cursor: pointer;
}

nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 25px;
  text-align: center;
  order: 3;
}

nav ul li.logo  {
  flex: 1;
  color: white;
  font-size: 30px;
  font-weight: 700;
  cursor: default;
  user-select: none;
}

nav ul li.logo b  {
  color: #FF784F;
}

nav ul li a {
  color: white;
  font-size: 100%;
  text-decoration: none;
  transition: .4s;
}

nav ul li a1 {
  color:#FF784F;
  font-size: 100%;
  text-decoration: none;
  transition: .4s;
}

nav ul li:hover a {
  color:#FF784F;
  transition: 0.3s;
}

nav ul li i {
  font-size: 100%;
}

nav ul li.btn {
  display: none;
}

nav ul li.btn.hide i:before {
  content: '\f00d';
}

/* HEADER */

/* HERO */

section.hero {
  margin-top: 40px;
  background:#081213;/* colore impostato con RGB e con la trasparenza, che si può notare sopratutto quando cambia il colore di sfondo */
  margin-bottom: 80px;
  width: 100%;
}

section.hero h1 {
  max-width: 70%;
  margin: auto;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 34px;
  color:#fff;
}

/* HERO */

/* BRICIOLA */

.briciola {
  max-width: 70%;
  margin: auto;
}

.briciola nav ul {
  display: flex;
  color: #FF784F;
  list-style-type: none;
  font-size: 100%;
  gap: 20px;
}

.briciola a {
  text-decoration: none;
  color: #ffffff;
}

.briciola a1 {
  text-decoration: none;
  color: #ffffff;
}

.briciola a:hover {
  color: #FF784F;
  text-decoration: none;
}

.portfolio .briciola {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 80px;
}

.briciola li a.selected {
  color: #FF784F; /* Colore di evidenziazione della categoria selezionata */
}

/* BRICIOLA */

/* [HOME] INTRO */

.homeintro  {
  max-width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between; 
  position: relative;
}

.rntprod  {
  margin-top: 80px;
  flex-grow: 1;
}

.rntprod img  {
  width: 50%;
  margin-top: 40px;
}

.rntprod p  {
  width: 50%;
  color: white;
  margin-top: 50px;
  font-size: 100%;
}

.rntprod p1{
  color: #FF784F;
}

.Button {
  padding: 10px 20px;
  background-color: #FF784F;
  color: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.Button:hover {
  transition: 0.3s;
  background-color: #fff;
  color: #FF784F;
}

.ciak {
  right: 0%;
  position: absolute;
  z-index: -1;
}

.ciak img {
  margin-top: 80px;
  width: 100%;
  opacity: 0.7;
}
  
/* [HOME] INTRO */

/* [HOME] VIDEO VIDEO PRESENTAZIONE */

.videocontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* Imposta un rapporto di 16:9 (altezza/larghezza) per il video */
  margin-bottom: -80px;
}
  
.videocontainer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* [HOME] VIDEO PRESENTAZIONE */

/* [HOME] PORTFOLIO */

.portfolio  {
  max-width: 70%;
  margin: auto;
  display: flex;  
  flex-direction: column;
  justify-content: left;
  margin-top: 80px;
}
  
.titoli {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
}

.titoli p {  
  margin: 15px 1.5px;
}

.line {
  border-left: 2px solid #FF784F; 
  margin-right: 35px; 
}
  
.word {
  font-size: 45px;
  margin-top: -3.5px;
  color: #fff;
  font-weight: 650;
  width: 100%;
}

.homeport {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}
  
.homeport a img {
  width: 100%;
}

.cardport {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  flex-basis: calc(50% - 12.5px);
}

.cardport img {
  transform: scale(1.0);
  transition: all 0.3s ease-out;
}

.cardport:hover img {
  transform: scale(1.1) translateY(-20px); 
}

.homeport .cardport .description h4{
  position: absolute;
  font-weight: 500;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 100%;
  width: 100%;
  text-align: left;
  color:#FF784F;
}

.homeport .cardport .description h4 {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.homeport .cardport:hover .description h4 {
  opacity: 1;
  transform: translateY(0px);
}

/* [HOME] PORTFOLIO */

/* [HOME] STAFF */

*,*:after,*:before  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.staff  {
  max-width: 70%;
  margin: auto;
  margin-top: 10%;
  display: flex; 
  flex-wrap: wrap;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 14.92px;
}

.card {
  flex-basis: calc(50% - 12.5px);
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  background:radial-gradient(#111 50%, #000 100%);
}
  
.card img {
  transform: scale(1.0);
  transition: all 0.3s ease-out;
}
  
.card:hover img {
  transform: scale(1.1) translateY(-20px); 
  opacity: 0.3;
}

.card .description  {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  text-align: left;
  color: #fff;
}

.card .description h3 {
  font-weight: 500;
  font-size: 100%;
  margin-bottom: 10px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.card .description h2 {
  color: #FF784F;
  font-weight: 400;
  font-size: 100%;
  margin-bottom: -10px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.2s;                
}

.card .description p  {
  font-size: 100%;
  transform: translateY(30px);                      
  opacity: 0;
  transition: all 0.3s ease-out 0.3s;
}

.card:hover .description h3 {
  opacity: 1;
  transform: translateY(0px);
}

.card:hover .description h2 {
  opacity: 1;
  transform: translateY(0px);
}

.card:hover .description p  {
  opacity: 1;
  transform: translateY(0px);
}

.card:hover .description a  {
  opacity: 1;
  transform: translateY(0px);
}

.card:target .description h3  {
  opacity: 1;
  transform: translateY(0px);
}

/* [HOME] STAFF */

/* [HOME] SERVIZI */

.servizi {
  max-width: 70%;
  margin: auto;
  margin-top: 10%;
  display: flex; 
  flex-wrap: wrap;
}

.grigliaservizi {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  align-items: center; /* Allinea gli elementi verticalmente */
  width: 100%;
}

.content {
  color: #fff;
}

.content h2 {
  margin: 0; /* Rimuovi i margini predefiniti per l'h2 */
  font-size: 100%;
  margin-bottom: 10px; 
}

.content p {
  font-size: 100%;
}

/* [HOME] SERVIZI */

/* [HOME] CAROSELLO */

.wrapper {
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background:#FF784F;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 9999;
}

.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:hover{
  color:#FF784F;
  background: #fff;
  transition: 0.3s;
}

.wrapper i:first-child{
  left: -22px;
}

.wrapper i:last-child{
  right: -22px;
}

.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  cursor: pointer;
  flex-direction: column;
}

/* [HOME] CAROSELLO */

/* [CONTATTI] FORM */

.info form{
  width: 90%;
}

.form-row {
  display: flex; /* Imposta la riga come un flex container */
  flex: 0 1 100%; /* Imposta la larghezza della riga al 100% per occupare l'intera larghezza del form */
  margin-bottom: 10px; /* Aggiunge uno spazio tra le righe */
}

form {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

label {
  margin-top: 30px;
  flex: 0 0 50%
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row textarea {
  width: 100%;
  background-color: transparent;
  padding: 12.5px;
  color: #fff;
  border: 1px solid #FF784F;
  flex: 1; /* Fai espandere il campo di input in modo da riempire lo spazio rimasto nella riga */
  margin-right: 10px; /* Aggiungi uno spazio tra i campi di input */
}

textarea {
  resize: vertical;
  height: 150px;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #FF784F;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

input:hover {
  background-color: #ffffff;
  color: #FF784F;
}

/* [CONTATTI] FORM */

/* [CONTATTI] INFO */

.contatti {
  margin-top: 225px;
  display: flex; 
}

.grigliacontatti {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.container {
  display: flex;
  align-items: center; /* Allinea gli elementi verticalmente */
  width: 100%;
}

.icon img{
  margin-right: 20px; 
}

.content {
  color: #fff;
}

.content h2 {
  margin: 0; /* Rimuovi i margini predefiniti per l'h2 */
  font-size: 100%;
  margin-bottom: 10px; 
}

.content p {
  font-size: 100%;
}

/* [CONTATTI] INFO */

/* [HOME] PRE FOOTER */

.prefooter img{
  margin-top: 150px;
  width: 100%;
  opacity: 0.7;
}

/* [HOME] PRE FOOTER */

/* [HOME] FOOTER */

footer {
  margin-top: 150px;
  width: 100%;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.bot {
  background-color:#FF784F;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

/* [HOME] FOOTER */

/* MEDIA */

@media all and (max-width: 1200px){

.homeport .cardport .description h4 {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.wrapper .carousel {
  grid-auto-columns: calc((100% / 2) - 9px);
}

.card {
  flex-basis: 100%; 
}

.portfolio .homeport .cardport {
  flex-basis: 100%; 
}

nav ul li.items{
  width: 100%;
  display: none;
}

nav ul li.items.show{
  display: block;
}

nav ul li.btn{
  display: block;
}

nav ul li.items:hover{
  box-shadow: inset 0 0 5px #FF784F,
              inset 0 0 15px #FF784F;
}

nav ul li.items:hover:after{
  opacity: 0;
}

.rntprod img{
  margin-top: -40px;
  width: 100%;
}

.rntprod p{
  width: 100%;
}

.fotobody {
  display: none;
}

.aziende{
  margin-top: 80px;
}

.info {
  flex-wrap: wrap;
}

.info form{
  width: 100%;
}

}

@media screen and (max-width: 900px) {
  
  .grigliaservizi {
    flex-wrap: wrap;
  }
    
  }
  
  @media screen and (max-width: 800px) {
  
  .staff .card{
    height: 475px;
  }
  
  .homeintro{
    flex-direction: column;
  }
  
  .contatti {
    align-self: center;
  }
  
  .grigliacontatti {
    margin-top: -150px;
    margin-bottom: 50px;
  }
  
  .portfolio .titoli .word{
    font-size: 30px;
  }
  
}

@media screen and (max-width: 600px) {

.wrapper .carousel {
  grid-auto-columns: calc((100% / 1) - 9px);
}
  
.wrapper .carousel {
  grid-auto-columns: 100%;
}
  
.titoli p {
  width: 15%;
  margin: 5px;
}
  
.line {
  height: 30px;
}
  
.word {
  font-size: 30px; /* Riduce la dimensione del testo della parola */
}
  
.portfolio .description p {
  font-size: 12px;
}
  
.portfolio .titoli .word{
  font-size: 28px;
}

.footer p{
  font-size: 10px;
}

}

@media screen and (max-width: 480px){

.rntprod img{
  margin-bottom: -25px;
}

.rntprod p{
  font-size: 14px;
  margin-bottom: -10px;
}

.staff .card {
  height: 425px;
}

.prefooter  {
  margin-top: -100px;
  margin-bottom: -100px;
}

.staff {
  margin-top: 60px;
}

.aziende{
  margin-top: 40px;
}

.portfolio .titoli .word{
  font-size: 24px;
}

.servizi{
  margin-top: 80px;
}

}

@media screen and (max-width: 375px){

  section.hero h1{
    font-size: 28px;
  }

  .portfolio .description h3 {
    font-size: 12px;
  }

  .portfolio .description h2 {
    font-size: 11px;
    margin-bottom: 3.5px;
  }

  .portfolio .description p {
    font-size: 10px;
  }
}

/* MEDIA */
